<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>

<p>Lo que sea..</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p> Bridget </p>


<a href="http://www.facebook.com" target="_blank">Facebook</a>

<form action="" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name"><br>
	<label for="password">Password</label>
	<input type="password" name="password"><br>
	<input type="submit" name="submit" value="Login">
</form>
<img src="http://static.comicvine.com/uploads/original/11115/111152790/4651830-kirby_kssu.png">